In [1]:
import csv

import numpy as np
import pandas as pd
from pycaret.regression import *

In [2]:
def substitute_values(data, sorted_index, prefix, column):
    sub = 1

    # This list stores the values at which the labels were changed
    divider_list = ["USDCHF", column]

    for i, index in enumerate(sorted_index):
        if i == 33:
            sub += 1
            divider_list.append(data.at[index, column])
        if i == 66:
            sub += 1
            divider_list.append(data.at[index, column])

        data.at[index, column] = (prefix * 10) + sub

    # with open("divider_list.csv", "a", newline="") as csvfile:
    #     writer = csv.writer(csvfile)
    #     writer.writerow(divider_list)

    return data

In [3]:
data = pd.read_csv("../results/USDCHF.csv")

# Preprocessing

# Removing the first row since it is an outlier - return is 0
data = data.drop(data.index[0])

# Delete any rows with null values
data.dropna(inplace=True)

# Delete any rows with 0 Vol and 0 FD
data = data[data.vol != 0]
data = data[data.fd != 0]

# Multiply the returns column by 100000 to have a usable column
data.return_val *= 10000

# Resetting the indexes in the dataframe
data.reset_index(drop=True, inplace=True)

data.head(5)

,inserttime,period,max,min,mean,vol,fd,return_val
0,2022-12-02 02:42:25,2,0.93650,0.935800,0.936178,0.000700,722857.142857,-1.044095
1,2022-12-02 02:50:06,3,0.93610,0.934830,0.935454,0.001270,600000.000000,-7.738212
2,2022-12-02 02:57:32,4,0.93590,0.935075,0.935412,0.000825,444848.484849,-0.444419
3,2022-12-02 03:05:09,5,0.93653,0.935200,0.935636,0.001330,461654.135338,2.390416
4,2022-12-02 03:12:50,6,0.93620,0.935495,0.935781,0.000705,499290.780142,1.551614

In [4]:
# Sorting the values independently as it worked the best
volatility_array = np.array(data["vol"])
# Argsort sorts the data and returns the indexes of the sorted values from original list
sorted_index = np.argsort(volatility_array)
# Using the sorted index positions, we can replace the values for
data = substitute_values(data, sorted_index, 0, "vol")

# Do the same actions for Fractal Dimension
fd_array = np.array(data["fd"])
sorted_index = np.argsort(fd_array)
data = substitute_values(data, sorted_index, 0, "fd")

data.head(5)

,inserttime,period,max,min,mean,vol,fd,return_val
0,2022-12-02 02:42:25,2,0.93650,0.935800,0.936178,2.0,2.0,-1.044095
1,2022-12-02 02:50:06,3,0.93610,0.934830,0.935454,3.0,2.0,-7.738212
2,2022-12-02 02:57:32,4,0.93590,0.935075,0.935412,2.0,1.0,-0.444419
3,2022-12-02 03:05:09,5,0.93653,0.935200,0.935636,3.0,1.0,2.390416
4,2022-12-02 03:12:50,6,0.93620,0.935495,0.935781,2.0,2.0,1.551614

In [5]:
# Using PyCaret functions to setup the regression model trainer
regression = setup(data=data, target="return_val")

In [6]:
# Compare the best models after training on different types
best = compare_models()
best

LassoLars(alpha=1.0, copy_X=True, eps=2.220446049250313e-16, fit_intercept=True,
          fit_path=True, jitter=None, max_iter=500, normalize=True,
          positive=False, precompute='auto', random_state=217, verbose=False)

In [13]:
# Choose the best model technique and create a model
model = create_model("huber")

In [14]:
# Run model tune to get a better fit
tuned_model = tune_model(model)

In [15]:
# Mark the tuned model as final and save it
model = finalize_model(tuned_model)
save_model(model, "../models/USDCHF")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=['period'],
                                       ml_usecase='regression',
                                       numerical_features=[],
                                       target='return_val', time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numer...
                 ('dummy', Dummify(target='return_val')),
                 ('fix_perfect', Remove_100(target='return_val')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  HuberRegressor(alpha=0.7, epsilon=1.3, fit_intercept=True,
                                 max_iter=100, tol=1e-05, warm_start=False)]],
          verbose=False),
 '../models/USDCHF.pkl')