In [1]:
import csv

import numpy as np
import pandas as pd
from pycaret.regression import *

In [2]:
def substitute_values(data, sorted_index, prefix, column):
    sub = 1

    # This list stores the values at which the labels were changed
    divider_list = ["USDCAD", column]

    for i, index in enumerate(sorted_index):
        if i == 33:
            sub += 1
            divider_list.append(data.at[index, column])
        if i == 66:
            sub += 1
            divider_list.append(data.at[index, column])

        data.at[index, column] = (prefix * 10) + sub

    # with open("divider_list.csv", "a", newline="") as csvfile:
    #     writer = csv.writer(csvfile)
    #     writer.writerow(divider_list)

    return data

In [3]:
data = pd.read_csv("../results/USDCAD.csv")

# Preprocessing

# Removing the first row since it is an outlier - return is 0
data = data.drop(data.index[0])

# Delete any rows with null values
data.dropna(inplace=True)

# Delete any rows with 0 Vol and 0 FD
data = data[data.vol != 0]
data = data[data.fd != 0]

# Multiply the returns column by 100000 to have a usable column
data.return_val *= 10000

# Resetting the indexes in the dataframe
data.reset_index(drop=True, inplace=True)

data.head(5)

,inserttime,period,max,min,mean,vol,fd,return_val
0,2022-12-02 02:42:23,2,1.343450,1.342305,1.342894,0.001145,474235.807860,-54.340198
1,2022-12-02 02:50:07,3,1.342805,1.342095,1.342329,0.000710,354929.577465,-42.105733
2,2022-12-02 02:57:32,4,1.342955,1.342215,1.342540,0.000740,656756.756757,15.738083
3,2022-12-02 03:05:07,5,1.344845,1.342450,1.343838,0.002395,163674.321503,96.665982
4,2022-12-02 03:12:50,6,1.345150,1.344305,1.344679,0.000845,208284.023669,62.612088

In [4]:
# Sorting the values independently as it worked the best
volatility_array = np.array(data["vol"])
# Argsort sorts the data and returns the indexes of the sorted values from original list
sorted_index = np.argsort(volatility_array)
# Using the sorted index positions, we can replace the values for
data = substitute_values(data, sorted_index, 0, "vol")

# Do the same actions for Fractal Dimension
fd_array = np.array(data["fd"])
sorted_index = np.argsort(fd_array)
data = substitute_values(data, sorted_index, 0, "fd")

data.head(5)

,inserttime,period,max,min,mean,vol,fd,return_val
0,2022-12-02 02:42:23,2,1.343450,1.342305,1.342894,3.0,2.0,-54.340198
1,2022-12-02 02:50:07,3,1.342805,1.342095,1.342329,1.0,1.0,-42.105733
2,2022-12-02 02:57:32,4,1.342955,1.342215,1.342540,2.0,3.0,15.738083
3,2022-12-02 03:05:07,5,1.344845,1.342450,1.343838,3.0,1.0,96.665982
4,2022-12-02 03:12:50,6,1.345150,1.344305,1.344679,2.0,1.0,62.612088

In [5]:
# Using PyCaret functions to setup the regression model trainer
regression = setup(data=data, target="return_val")

In [6]:
# Compare the best models after training on different types
best = compare_models()
best

DummyRegressor(constant=None, quantile=None, strategy='mean')

In [10]:
# Choose the best model technique and create a model
model = create_model("en")

In [11]:
# Run model tune to get a better fit
tuned_model = tune_model(model)

In [12]:
# Mark the tuned model as final and save it
model = finalize_model(tuned_model)
save_model(model, "../models/USDCAD")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=['period'],
                                       ml_usecase='regression',
                                       numerical_features=[],
                                       target='return_val', time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numer...
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  ElasticNet(alpha=6.68, copy_X=True, fit_intercept=False,
                             l1_ratio=0.354, max_iter=1000, normalize=True,
                             positive=False, precompute=False, random_state=7247,
                             selection='cyclic', tol=0.0001,
                             warm_start=False)]],
          verbose=False),
 '../models/USDCAD.pkl')