In [1]:
import csv

import numpy as np
import pandas as pd
from pycaret.regression import *

In [2]:
def substitute_values(data, sorted_index, prefix, column):
    sub = 1

    # This list stores the values at which the labels were changed
    divider_list = ["USDHKD", column]

    for i, index in enumerate(sorted_index):
        if i == 33:
            sub += 1
            divider_list.append(data.at[index, column])
        if i == 66:
            sub += 1
            divider_list.append(data.at[index, column])

        data.at[index, column] = (prefix * 10) + sub

    # with open("divider_list.csv", "a", newline="") as csvfile:
    #     writer = csv.writer(csvfile)
    #     writer.writerow(divider_list)

    return data

In [3]:
data = pd.read_csv("../results/USDHKD.csv")

# Preprocessing

# Removing the first row since it is an outlier - return is 0
data = data.drop(data.index[0])

# Delete any rows with null values
data.dropna(inplace=True)

# Delete any rows with 0 Vol and 0 FD
data = data[data.vol != 0]
data = data[data.fd != 0]

# Multiply the returns column by 100000 to have a usable column
data.return_val *= 10000

# Resetting the indexes in the dataframe
data.reset_index(drop=True, inplace=True)

data.head(5)

,inserttime,period,max,min,mean,vol,fd,return_val
0,2022-12-02 02:42:25,2,7.781150,7.780050,7.780652,0.001100,1.662727e+06,-0.526521
1,2022-12-02 02:50:04,3,7.780135,7.778345,7.779159,0.001790,3.262570e+05,-1.918902
2,2022-12-02 02:57:32,4,7.780650,7.778280,7.779545,0.002370,1.421941e+05,0.496553
3,2022-12-02 03:05:08,5,7.780550,7.779345,7.779933,0.001205,1.626556e+05,0.498930
4,2022-12-02 03:12:49,6,7.779750,7.779050,7.779465,0.000700,6.442857e+05,-0.602043

In [4]:
# Sorting the values independently as it worked the best
volatility_array = np.array(data["vol"])
# Argsort sorts the data and returns the indexes of the sorted values from original list
sorted_index = np.argsort(volatility_array)
# Using the sorted index positions, we can replace the values for
data = substitute_values(data, sorted_index, 0, "vol")

# Do the same actions for Fractal Dimension
fd_array = np.array(data["fd"])
sorted_index = np.argsort(fd_array)
data = substitute_values(data, sorted_index, 0, "fd")

data.head(5)

,inserttime,period,max,min,mean,vol,fd,return_val
0,2022-12-02 02:42:25,2,7.781150,7.780050,7.780652,2.0,3.0,-0.526521
1,2022-12-02 02:50:04,3,7.780135,7.778345,7.779159,3.0,1.0,-1.918902
2,2022-12-02 02:57:32,4,7.780650,7.778280,7.779545,3.0,1.0,0.496553
3,2022-12-02 03:05:08,5,7.780550,7.779345,7.779933,2.0,1.0,0.498930
4,2022-12-02 03:12:49,6,7.779750,7.779050,7.779465,1.0,2.0,-0.602043

In [5]:
# Using PyCaret functions to setup the regression model trainer
regression = setup(data=data, target="return_val")

In [6]:
# Compare the best models after training on different types
best = compare_models()
best

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=-1, n_neighbors=5, p=2,
                    weights='uniform')

In [7]:
# Choose the best model technique and create a model
model = create_model(best)

In [8]:
# Run model tune to get a better fit
tuned_model = tune_model(model)

In [9]:
# Mark the tuned model as final and save it
model = finalize_model(tuned_model)
save_model(model, "../models/USDHKD")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=['period'],
                                       ml_usecase='regression',
                                       numerical_features=[],
                                       target='return_val', time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numer...
                 ('fix_perfect', Remove_100(target='return_val')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  KNeighborsRegressor(algorithm='auto', leaf_size=30,
                                      metric='minkowski', metric_params=None,
                                      n_jobs=-1, n_neighbors=26, p=2,
                                      weights='uniform')]],
          verbose=False),
 '../models/USDHKD.pkl')