In [1]:
import csv

import numpy as np
import pandas as pd
from pycaret.regression import *

In [2]:
def substitute_values(data, sorted_index, prefix, column):
    sub = 1

    # This list stores the values at which the labels were changed
    divider_list = ["EURUSD", column]

    for i, index in enumerate(sorted_index):
        if i == 33:
            sub += 1
            divider_list.append(data.at[index, column])
        if i == 66:
            sub += 1
            divider_list.append(data.at[index, column])

        data.at[index, column] = (prefix * 10) + sub

    # with open("divider_list.csv", "a", newline="") as csvfile:
    #     writer = csv.writer(csvfile)
    #     writer.writerow(divider_list)

    return data

In [3]:
data = pd.read_csv("../results/EURUSD.csv")

# Preprocessing

# Removing the first row since it is an outlier - return is 0
data = data.drop(data.index[0])

# Delete any rows with null values
data.dropna(inplace=True)

# Delete any rows with 0 Vol and 0 FD
data = data[data.vol != 0]
data = data[data.fd != 0]

# Multiply the returns column by 10000 to have a usable column
data.return_val *= 100000

# Resetting the indexes in the dataframe
data.reset_index(drop=True, inplace=True)

data.head(5)

,inserttime,period,max,min,mean,vol,fd,return_val
0,2022-12-02 02:42:24,2,1.054200,1.053025,1.053610,0.001175,525957.446809,74.130009
1,2022-12-02 02:50:04,3,1.054180,1.053550,1.053971,0.000630,526984.126984,34.217177
2,2022-12-02 02:57:32,4,1.053655,1.052960,1.053365,0.000695,818705.035971,-57.476468
3,2022-12-02 03:05:09,5,1.053120,1.051465,1.052320,0.001655,433836.858006,-99.246035
4,2022-12-02 03:12:50,6,1.051950,1.051330,1.051634,0.000620,485483.870968,-65.163673

In [4]:
# Sorting the values independently as it worked the best
volatility_array = np.array(data["vol"])
# Argsort sorts the data and returns the indexes of the sorted values from original list
sorted_index = np.argsort(volatility_array)
# Using the sorted index positions, we can replace the values for
data = substitute_values(data, sorted_index, 0, "vol")

# Do the same actions for Fractal Dimension
fd_array = np.array(data["fd"])
sorted_index = np.argsort(fd_array)
data = substitute_values(data, sorted_index, 0, "fd")

data.head(5)

,inserttime,period,max,min,mean,vol,fd,return_val
0,2022-12-02 02:42:24,2,1.054200,1.053025,1.053610,3.0,2.0,74.130009
1,2022-12-02 02:50:04,3,1.054180,1.053550,1.053971,1.0,2.0,34.217177
2,2022-12-02 02:57:32,4,1.053655,1.052960,1.053365,2.0,2.0,-57.476468
3,2022-12-02 03:05:09,5,1.053120,1.051465,1.052320,3.0,1.0,-99.246035
4,2022-12-02 03:12:50,6,1.051950,1.051330,1.051634,1.0,2.0,-65.163673

In [5]:
# Using PyCaret functions to setup the regression model trainer
regression = setup(data=data, target="return_val")

In [6]:
# Compare the best models after training on different types
best = compare_models()
best

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=-1, n_neighbors=5, p=2,
                    weights='uniform')

In [7]:
# Choose the best model technique and create a model
model = create_model("par")

In [8]:
# Run model tune to get a better fit
tuned_model = tune_model(model)

In [9]:
# Mark the tuned model as final and save it
model = finalize_model(tuned_model)
save_model(model, "../models/EURUSD")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=['period'],
                                       ml_usecase='regression',
                                       numerical_features=[],
                                       target='return_val', time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numer...
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  PassiveAggressiveRegressor(C=0.274, average=False,
                                             early_stopping=False, epsilon=0.8,
                                             fit_intercept=False,
                                             loss='epsilon_insensitive',
                                             max_iter=1000, n_iter_no_change=5,
                                             random_state=7184, shuffle=True,
                                             tol=0.001, validation_fraction=0.1,
                                             verbose=0, warm_start=False)]],
          verbose=False),
 '../models/EURUSD.pkl')