In [1]:
import csv

import numpy as np
import pandas as pd
from pycaret.regression import *

In [2]:
def substitute_values(data, sorted_index, prefix, column):
    sub = 1

    # This list stores the values at which the labels were changed
    divider_list = ["GBPUSD", column]

    for i, index in enumerate(sorted_index):
        if i == 33:
            sub += 1
            divider_list.append(data.at[index, column])
        if i == 66:
            sub += 1
            divider_list.append(data.at[index, column])

        data.at[index, column] = (prefix * 10) + sub

    # with open("divider_list.csv", "a", newline="") as csvfile:
    #     writer = csv.writer(csvfile)
    #     writer.writerow(divider_list)

    return data

In [3]:
data = pd.read_csv("../results/GBPUSD.csv")

# Preprocessing

# Removing the first row since it is an outlier - return is 0
data = data.drop(data.index[0])

# Delete any rows with null values
data.dropna(inplace=True)

# Delete any rows with 0 Vol and 0 FD
data = data[data.vol != 0]
data = data[data.fd != 0]

# Multiply the returns column by 100000 to have a usable column
data.return_val *= 10000

# Resetting the indexes in the dataframe
data.reset_index(drop=True, inplace=True)

data.head(5)

,inserttime,period,max,min,mean,vol,fd,return_val
0,2022-12-02 02:42:25,2,1.226365,1.224000,1.225241,0.002365,215644.820296,12.658440
1,2022-12-02 02:50:06,3,1.226760,1.225870,1.226320,0.000890,273033.707865,8.812349
2,2022-12-02 02:57:32,4,1.226725,1.225700,1.226235,0.001025,512195.121951,-0.700845
3,2022-12-02 03:05:09,5,1.226805,1.224800,1.225611,0.002005,326184.538653,-5.085517
4,2022-12-02 03:12:50,6,1.225670,1.224815,1.225292,0.000855,385964.912281,-2.604770

In [4]:
# Sorting the values independently as it worked the best
volatility_array = np.array(data["vol"])
# Argsort sorts the data and returns the indexes of the sorted values from original list
sorted_index = np.argsort(volatility_array)
# Using the sorted index positions, we can replace the values for
data = substitute_values(data, sorted_index, 0, "vol")

# Do the same actions for Fractal Dimension
fd_array = np.array(data["fd"])
sorted_index = np.argsort(fd_array)
data = substitute_values(data, sorted_index, 0, "fd")

data.head(5)

,inserttime,period,max,min,mean,vol,fd,return_val
0,2022-12-02 02:42:25,2,1.226365,1.224000,1.225241,3.0,1.0,12.658440
1,2022-12-02 02:50:06,3,1.226760,1.225870,1.226320,1.0,1.0,8.812349
2,2022-12-02 02:57:32,4,1.226725,1.225700,1.226235,2.0,2.0,-0.700845
3,2022-12-02 03:05:09,5,1.226805,1.224800,1.225611,3.0,1.0,-5.085517
4,2022-12-02 03:12:50,6,1.225670,1.224815,1.225292,1.0,2.0,-2.604770

In [5]:
# Using PyCaret functions to setup the regression model trainer
regression = setup(data=data, target="return_val")

In [6]:
# Compare the best models after training on different types
best = compare_models()
best

OrthogonalMatchingPursuit(fit_intercept=True, n_nonzero_coefs=None,
                          normalize=True, precompute='auto', tol=None)

In [7]:
# Choose the best model technique and create a model
model = create_model(best)

In [8]:
# Run model tune to get a better fit
tuned_model = tune_model(model)

In [9]:
# Mark the tuned model as final and save it
model = finalize_model(tuned_model)
save_model(model, "../models/GBPUSD")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=['period'],
                                       ml_usecase='regression',
                                       numerical_features=[],
                                       target='return_val', time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numer...
                 ('dummy', Dummify(target='return_val')),
                 ('fix_perfect', Remove_100(target='return_val')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  OrthogonalMatchingPursuit(fit_intercept=False,
                                            n_nonzero_coefs=1, normalize=False,
                                            precompute='auto', tol=None)]],
          verbose=False),
 '../models/GBPUSD.pkl')