In [1]:
import csv

import numpy as np
import pandas as pd
from pycaret.regression import *

In [2]:
def substitute_values(data, sorted_index, prefix, column):
    sub = 1

    # This list stores the values at which the labels were changed
    divider_list = ["USDAUD", column]

    for i, index in enumerate(sorted_index):
        if i == 33:
            sub += 1
            divider_list.append(data.at[index, column])
        if i == 66:
            sub += 1
            divider_list.append(data.at[index, column])

        data.at[index, column] = (prefix * 10) + sub

    # with open("divider_list.csv", "a", newline="") as csvfile:
    #     writer = csv.writer(csvfile)
    #     writer.writerow(divider_list)

    return data

In [3]:
data = pd.read_csv("../results/USDAUD.csv")

# Preprocessing

# Removing the first row since it is an outlier - return is 0
data = data.drop(data.index[0])

# Delete any rows with null values
data.dropna(inplace=True)

# Delete any rows with 0 Vol and 0 FD
data = data[data.vol != 0]
data = data[data.fd != 0]

# Multiply the returns column by 100000 to have a usable column
data.return_val *= 10000

# Resetting the indexes in the dataframe
data.reset_index(drop=True, inplace=True)

data.head(5)

,inserttime,period,max,min,mean,vol,fd,return_val
0,2022-12-02 02:42:25,2,1.466706,1.464550,1.465840,0.002156,303810.385213,-5.795550
1,2022-12-02 02:50:07,3,1.465631,1.463985,1.464539,0.001646,306178.239475,-8.871618
2,2022-12-02 02:57:32,4,1.465846,1.464550,1.465032,0.001296,425170.724179,3.364743
3,2022-12-02 03:05:09,5,1.468450,1.465400,1.467009,0.003050,238360.655738,13.492343
4,2022-12-02 03:12:50,6,1.468695,1.467495,1.468151,0.001200,259166.666667,7.782310

In [4]:
# Sorting the values independently as it worked the best
volatility_array = np.array(data["vol"])
# Argsort sorts the data and returns the indexes of the sorted values from original list
sorted_index = np.argsort(volatility_array)
# Using the sorted index positions, we can replace the values for
data = substitute_values(data, sorted_index, 0, "vol")

# Do the same actions for Fractal Dimension
fd_array = np.array(data["fd"])
sorted_index = np.argsort(fd_array)
data = substitute_values(data, sorted_index, 0, "fd")

data.head(5)

,inserttime,period,max,min,mean,vol,fd,return_val
0,2022-12-02 02:42:25,2,1.466706,1.464550,1.465840,3.0,1.0,-5.795550
1,2022-12-02 02:50:07,3,1.465631,1.463985,1.464539,2.0,1.0,-8.871618
2,2022-12-02 02:57:32,4,1.465846,1.464550,1.465032,2.0,2.0,3.364743
3,2022-12-02 03:05:09,5,1.468450,1.465400,1.467009,3.0,1.0,13.492343
4,2022-12-02 03:12:50,6,1.468695,1.467495,1.468151,1.0,1.0,7.782310

In [5]:
# Using PyCaret functions to setup the regression model trainer
regression = setup(data=data, target="return_val")

In [6]:
# Compare the best models after training on different types
best = compare_models()
best

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=8481,
      selection='cyclic', tol=0.0001, warm_start=False)

In [16]:
# Choose the best model technique and create a model
model = create_model("br")

In [17]:
# Run model tune to get a better fit
tuned_model = tune_model(model)

In [18]:
# Mark the tuned model as final and save it
model = finalize_model(model)
save_model(model, "../models/USDAUD")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=['period'],
                                       ml_usecase='regression',
                                       numerical_features=[],
                                       target='return_val', time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numer...
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  BayesianRidge(alpha_1=1e-06, alpha_2=1e-06, alpha_init=None,
                                compute_score=False, copy_X=True,
                                fit_intercept=True, lambda_1=1e-06,
                                lambda_2=1e-06, lambda_init=None, n_iter=300,
                                normalize=False, tol=0.001, verbose=False)]],
          verbose=False),
 '../models/USDAUD.pkl')