In [1]:
import csv

import numpy as np
import pandas as pd
from pycaret.regression import *

In [2]:
def substitute_values(data, sorted_index, prefix, column):
    sub = 1

    # This list stores the values at which the labels were changed
    divider_list = ["USDSGD", column]

    for i, index in enumerate(sorted_index):
        if i == 33:
            sub += 1
            divider_list.append(data.at[index, column])
        if i == 66:
            sub += 1
            divider_list.append(data.at[index, column])

        data.at[index, column] = (prefix * 10) + sub

    # with open("divider_list.csv", "a", newline="") as csvfile:
    #     writer = csv.writer(csvfile)
    #     writer.writerow(divider_list)

    return data

In [3]:
data = pd.read_csv("../results/USDSGD.csv")

# Preprocessing

# Removing the first row since it is an outlier - return is 0
data = data.drop(data.index[0])

# Delete any rows with null values
data.dropna(inplace=True)

# Delete any rows with 0 Vol and 0 FD
data = data[data.vol != 0]
data = data[data.fd != 0]

# Multiply the returns column by 100000 to have a usable column
data.return_val *= 10000

# Resetting the indexes in the dataframe
data.reset_index(drop=True, inplace=True)

data.head(5)

,inserttime,period,max,min,mean,vol,fd,return_val
0,2022-12-02 02:42:24,2,1.352095,1.351185,1.351638,0.00091,929670.329670,-4.026274
1,2022-12-02 02:50:05,3,1.351600,1.350900,1.351139,0.00070,720000.000000,-3.687591
2,2022-12-02 02:57:32,4,1.351800,1.351150,1.351397,0.00065,729230.769231,1.906111
3,2022-12-02 03:05:09,5,1.352615,1.351475,1.352035,0.00114,504385.964912,4.721448
4,2022-12-02 03:12:50,6,1.352615,1.352135,1.352374,0.00048,600000.000000,2.509882

In [4]:
# Sorting the values independently as it worked the best
volatility_array = np.array(data["vol"])
# Argsort sorts the data and returns the indexes of the sorted values from original list
sorted_index = np.argsort(volatility_array)
# Using the sorted index positions, we can replace the values for
data = substitute_values(data, sorted_index, 0, "vol")

# Do the same actions for Fractal Dimension
fd_array = np.array(data["fd"])
sorted_index = np.argsort(fd_array)
data = substitute_values(data, sorted_index, 0, "fd")

data.head(5)

,inserttime,period,max,min,mean,vol,fd,return_val
0,2022-12-02 02:42:24,2,1.352095,1.351185,1.351638,2.0,2.0,-4.026274
1,2022-12-02 02:50:05,3,1.351600,1.350900,1.351139,2.0,2.0,-3.687591
2,2022-12-02 02:57:32,4,1.351800,1.351150,1.351397,1.0,2.0,1.906111
3,2022-12-02 03:05:09,5,1.352615,1.351475,1.352035,3.0,1.0,4.721448
4,2022-12-02 03:12:50,6,1.352615,1.352135,1.352374,1.0,2.0,2.509882

In [16]:
# Using PyCaret functions to setup the regression model trainer
regression = setup(data=data, target="return_val")

In [17]:
# Compare the best models after training on different types
best = compare_models()
best

AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
                  n_estimators=50, random_state=8125)

In [18]:
# Choose the best model technique and create a model
model = create_model(best)

In [19]:
# Run model tune to get a better fit
tuned_model = tune_model(model)

In [20]:
# Mark the tuned model as final and save it
model = finalize_model(tuned_model)
save_model(model, "../models/USDSGD")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=['period'],
                                       ml_usecase='regression',
                                       numerical_features=[],
                                       target='return_val', time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numer...
                 ('dummy', Dummify(target='return_val')),
                 ('fix_perfect', Remove_100(target='return_val')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  AdaBoostRegressor(base_estimator=None, learning_rate=0.5,
                                    loss='exponential', n_estimators=70,
                                    random_state=8125)]],
          verbose=False),
 '../models/USDSGD.pkl')